.event-calendar {
  

    // .calendar-day:hover {
    //     transform: scale(2px);
    //     box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
    // }
    .event-dot {
        width: 14px;
        height: 14px;
    }

    .dropdown-btn {
        border-radius: 50px !important;
    }

    .calendar-day>div {
        border: 2px solid $primary;
 height: 150px;cursor: pointer;transition: .25s;
        &:hover {
            offset: 1px;
        }
    }
}