.event-calendar {
    .event-dot {
        width: 14px;
        height: 14px;
    }
    .calendar-day>div {
        border: 0.0625rem solid $dark;
        height: 110px;
        cursor: pointer;
        transition: .25s;
        
        &:hover {
            border-width: 0.125rem;
        }
    }
    button{
          padding: 10px 14px;
    }
}
.calendar-dropdown .dropdown-toggle {
    border-radius: 50px;
    padding: 10px 14px;
}