.custom-border-bottom{
    border-bottom: 1px solid $gray-400;
}

.food-table{
    td,th{
        background-color: $light;
    }
    .food-image{
        width: 130px;
        height: 130px;
    }
    td{
        white-space:nowrap;
        vertical-align:middle;
    }
}