.custom-border-bottom{
    border-bottom: 1px solid $gray-400;
}

.food-table{
    td,th{
        background-color: $light;
    }
    .food-image{
        width: 130px;
        height: 130px;
    }
    td{
        white-space:nowrap;
        vertical-align:middle;
    }
}
// .food-table-wrapper {
//     width: 100%;
//     overflow-x: auto;
//     overflow-y: hidden;
//     -webkit-overflow-scrolling: touch;
// }

// .food-table {
//     min-width: 900px;
//     white-space: nowrap;
// }

// @media (max-width: 991.98px) {
//     .food-table {
//         min-width: 850px;
//     }
// }


// .table{
//     width: 100%;
// }